html body {
    background-color: #02523e;
}
#cardcontainer {
    margin: 10px 0px 10px 0;
}

#approvedlist{
    margin: 10px 0px 0px 0px;
}

ul {
    li {
        list-style-type: none
    }
}

.hide {
	display : none;
}